<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form #f="ngForm" (ngSubmit)="userRegister(f)">

    <ion-img src="../../assets/img/headerLogo.png"></ion-img>
  
    <ion-text color="danger">
      Dados Pessoais:
    </ion-text>
    
    <ion-item>
      <ion-label position="stacked">Nome Completo:</ion-label>
      <ion-input [(ngModel)]="nm_user" name="nm_user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de nascimento:</ion-label>
      <ion-input [(ngModel)]="dt_user_birth" name="dt_user_birth" type="date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF:</ion-label>
      <ion-input [(ngModel)]="cpf_user" name="cpf_user"></ion-input>
    </ion-item>

    <ion-img src="../../assets/img/bandeiras-3-removebg-preview.png"></ion-img>

    <ion-item>
      <ion-label position="stacked">Nº do Cartão:</ion-label>
      <ion-input [(ngModel)]="cc_user_number" name="cc_user_number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de Validade (MM/AA):</ion-label>
      <ion-input [(ngModel)]="cc_valid_date" name="cc_valid_date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Código de Segurança(CVV):</ion-label>
      <ion-input [(ngModel)]="cc_cvv" name="cc_cvv" type="number"></ion-input>
    </ion-item>
    
    
    <ion-text color="danger">
      Dados de Usuário:
    </ion-text>
    
    <ion-item>
      <ion-label position="stacked">Nome de usuário:</ion-label>
      <ion-input [(ngModel)]="nick_user" name="nick_user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email:</ion-label>
      <ion-input [(ngModel)]="email_user" name="email_user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha:</ion-label>
      <ion-input [(ngModel)]="pass_user" name="pass_user" type="password"></ion-input>
    </ion-item>

    <div id="botoes">
      <ion-button type="submit">Cadastrar</ion-button>
    </div>

  </form>

</ion-content>
