

<ion-content fullscren>

  <section>

    <ion-img src="../../assets/img/headerLogo.png"></ion-img>
  
    <ion-item>
      <ion-label position="stacked">Email:</ion-label>
      <ion-input [(ngModel)]="email_user" name="email_user"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Senha:</ion-label>
      <ion-input type="password" [(ngModel)]="pass_user" name="pass_user"></ion-input>
    </ion-item>

    <div id="botoes">
      <ion-button (click)="LogIn()">Entrar</ion-button>
    </div>

    <ion-text color="danger" (click)="cadastro()">
      cadastre-se
    </ion-text>

  </section> 

</ion-content>



