ion-title {
    text-align: center;
}

a {
    text-decoration: none;
    margin-right: 5%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

section#mainActions {
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
}

div.optionAction {
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 7pt;
    border-radius: 5px;
    background-color: #e0e0e0d0;
    font-weight: 300;
}

div.optionAction img,ion-icon {
    width: 20px;
    height: 20px;
}

div.contactInfo{
    background-color: #e0e0e0d0;
    color: #1740c7;
    margin: 3% 1%;
    border-radius: 5px;
    padding: 4%;
}

div.contactInfo p{
    font-size: 9pt;
    color: #000;
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-bottom: 4px;
}

div.contactInfo spam{
    color: #f00b0b;
}

ion-textarea{
    margin: 0;
    padding: 0;
    color: #000;
}
