<ion-header>    
  <ion-toolbar>
    <ion-title>   
      MovieScreen
    </ion-title> 
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>

  <section>

    <ion-avatar>
      <img src="./../../assets/img/perfilPhotos/{{user.user_foto}}" alt="foto de perfil">
    </ion-avatar>

    <div id="descUser">
      <h1>{{user.user_nick.toUpperCase()}} </h1>
    </div>

    
    <ion-text class="status">
      Status: Administrador
    </ion-text>

    <section class="inacabados">

      <ion-text class="categoria" side="left">
        <h4>Continuar Assistindo:</h4>
      </ion-text>

      <ion-card *ngFor="let media of mediaVideos">
        <img src="{{media.capa}}" />
        <ion-card-header>
            <ion-card-title>{{media.nome}}</ion-card-title>
            <ion-card-subtitle>{{media.ano}}, {{media.genero}} <hr/> {{media.pAssistido}}% Assistido</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

    </section>


    <ion-button (click)="LogOut()">
      Sair
      <img src="../../assets/ion-icons/log-out-outline.svg" alt="log-out">
    </ion-button>

    
  
  </section>

</ion-content>
