section {
  height: 100%;
  background-color: #275be9;
}

ion-title {
  text-align: center;
}


ion-item{
  font-weight: bold;
}

ion-item:hover {
  cursor: pointer;
}
ion-avatar {
  margin-right: 10px;
}