<ion-header>    
  <ion-toolbar>
    <ion-title>   
      MovieScreen
    </ion-title> 
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>

  <section>

    <ion-avatar>
      <img src="{{fotoPerfil}}" alt="foto de perfil">
    </ion-avatar>

    <div id="descUser">
      <h1>{{username.toUpperCase()}} </h1>
    </div>

    
    <ion-text class="status">
      Status: Administrador
    </ion-text>

    <section class="inacabados">

      <ion-text class="categoria" side="left">
        <h4>Continuar Assistindo:</h4>
      </ion-text>

    </section>


    <ion-button (click)="LogOut()">
      Sair
      <img src="../../assets/ion-icons/log-out-outline.svg" alt="log-out">
    </ion-button>

    
  
  </section>

</ion-content>
