<ion-header>
  <ion-toolbar>
    <ion-title>Filmes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="categoria" color="danger">
    <h3>Filmes</h3>
  </ion-text>
  
  <ion-card *ngFor="let filme of mediaVideos" (click)="selecionarFilme()">
    <img src="{{filme.capa}}" />
    <ion-card-header>
      <ion-card-subtitle>{{filme.ano}}, {{filme.genero}}  -  {{filme.duracao}}</ion-card-subtitle>
      <ion-card-title>{{filme.nome}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      desc
    </ion-card-content>
  </ion-card>

</ion-content>
