<ion-header>
  <ion-toolbar>
    <ion-title>Séries</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-card *ngFor="let serie of seriados">
      <img src="{{serie.capa}}" />
      <ion-card-header>
          <ion-card-subtitle>{{serie.ano}}, {{serie.genero}} - {{serie.temporadas}}</ion-card-subtitle>
          <ion-card-title>{{serie.nome}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          {{serie.sinopse}}
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
